<link rel="stylesheet" href="{{ url_for('static', filename='top_navbar.css') }}">

<header class="top-navbar">
    <div class="top-navbar-box">

        <div class="top-navbar-left">
            <a href="/" class="top-navbar-btn">Quiz Directory</a>
        </div>

        <div class="top-navbar-center">
    <a href="{% if not x %}/quiz_prompt_selection{% else %}/save/complete{% endif %}"
       class="top-navbar-btn">

        {%  if not x  %}
            Create Quiz
        {% else %}
            Save Quiz
        {% endif %}

    </a>
</div>

        <div class="top-navbar-right">
            <a href="/login" class="top-navbar-btn">Login/Create Account</a>
        </div>

    </div>
</header>